<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login Form </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./style/style.css" type="text/html">
</head>

<body>
    <form method="post">
        <input name="test" placeholder="Intitulé du test" type="text">
        <br>
        
        <input name="q1" placeholder="Question 1" type="text">
            <table>
                <tr>
                    <td><input name="1" placeholder="Reponse 1" type="text"></td>
                </tr>
                <tr>
                    <td><input name="2" placeholder="Reponse 2" type="text"></td>
                </tr>
                <tr>
                    <td><input name="3" placeholder="Reponse 3" type="text"></td>
                </tr>
                <tr>
                    <td><input name="4" placeholder="Reponse 4" type="text"></td>
                </tr>
            </table>

        <input name="q2" placeholder="Question 2">
            <table>
                <tr>
                    <td><input name="5" placeholder="Reponse 1" type="text"></td>
                </tr>
                <tr>
                    <td><input name="6" placeholder="Reponse 2" type="text"></td>
                </tr>
                <tr>
                    <td><input name="7" placeholder="Reponse 3" type="text"></td>
                </tr>
                <tr>
                    <td><input name="8" placeholder="Reponse 4" type="text"></td>
                </tr>
            </table>
        <input name="q3" placeholder="Question 3">
        <table>
            <tr>
                <td><input name="9" placeholder="Reponse 1" type="text"></td>
            </tr>
            <tr>
                <td><input name="10" placeholder="Reponse 2" type="text"></td>
            </tr>
            <tr>
                <td><input name="11" placeholder="Reponse 3" type="text"></td>
            </tr>
            <tr>
                <td><input name="12" placeholder="Reponse 4" type="text"></td>
            </tr>
        </table>
        
        <input name="q4" placeholder="Question 4">
            <table>
                <tr>
                    <td><input name="13" placeholder="Reponse 1" type="text"></td>
                </tr>
                <tr>
                    <td><input name="14" placeholder="Reponse 2" type="text"></td>
                </tr>
                <tr>n
                    <td><input name="15" placeholder="Reponse 3" type="text"></td>
                </tr>
                <tr>
                    <td><input name="16" placeholder="Reponse 4" type="text"></td>
                </tr>
            </table>
            
            <input type="submit">
    </form>
</body>