<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login Form </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./style/style.css" type="text/html">
</head>
<body>
    <div>
        <h1>Etes-vous un Hubert ?</h1>
        <div id="Q1">
            <p>Quelle est votre pièce préférée dans l'appartement</p>
            <ol>
                <li id=1>La chambre</li>
                <li id=2>La cuisine</li>
                <li id=3>La salle de bain</li>
                <li id=4>Le salon</li>
            </ol>
        </div>
        <div id="Q2">
            <p>Savez-vous cuisiner</p>
            <ol>
                <li id=1>Pas du tout ! Je casse les spaghettis en deux</li>
                <li id=2>Un peu, il m'arrive de manger des légumes</li>
                <li id=3>Je me débrouille, je sais peler des patates</li>
                <li id=4>Tout à fait, je suis le/la fils/fille de Etchebest</li>
            </ol>
        </div>
        <div id="Q3"></div>
            <p>Quel est mon animal préféré ?</p>
            <ol>
                <li id=1>Le poisson rouge mais non nommée</li>
                
            </ol>
    </div>
    
    <


</body>