<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login Form </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./style/style.css" type="text/html">
    <script type="text/javascrypt" src="../utils/quiz.js"></script>
</head>
<body>
    <% if(isAdmin){ %>
        <%-include("./navbar/admin")-%>
    <% }else{%>
        <%-include("./navbar/user") -%>
    <% } %>
    <p>Voici l'historique de vos résultats aux tests</p>
    <%for(i=0;i<libelleTest.length;i++){%>
        <p><%=libelleTest[i]%></p>
        <p><%=libelleResTest[i]%></p>
    <%}%>

</body>
</html>