<nav class="collapse navbar-collapse" id="navbarSupportedContent">  
    <ul class="navbar-nav mr-auto">
        <form action="/profil/Test" method="get">
            <li class="nav-item">
                <a class="nav-link " href="#">Tests de personnalité :D</a>
            </li>
        </form>
        <form action="/profil/creerTest" method="get">
            <li class="nav-item">
                <a class="nav-link " href="#">Créer un Test</a>
            </li>
        </form>
        <form action="/profil/modifierTest" method="get">
            <li class="nav-item">
                <a class="nav-link " href="#">Modifier un test</a>
            </li>
        </form>
    </ul>
</nav>
